<% include partials/header %>
    <h1>Customers</h1>

    <form action="/users/add" method="POST">
        <label>First Name</label><br> 
        <input type="text" name="first_name" required>
        <br>
        <label>Last Name</label><br>
        <input type="text" name="last_name" required>
        <br>
        <label>Email</label><br>
        <input type="text" name="email" required>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
    <ul>
    <% users.forEach(function(user){ %>
        <li><%= user.first_name %> <%= user.last_name %> - <a href=# class="deleteUser" data-id="<%=user._id%>">DELETE</a></li>
    <% }) %>
    </ul>

<% include partials/footer %>
